<a href="https://colab.research.google.com/github/zevy613/Project-2/blob/main/Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd

First choice: dataset 1

1) Source of data : Kaggle

2) Brief description of data : Shows wether a patient has heart disease based on different features.

3) What is the target? : HeartDisease column, indicating if the patient has heart disease.

4) Is this a classification or regression problem? : Classification

5) How many features? 11

6) How many rows of data. 918

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset? : Nothing, the data set seems pretty straight forward.

In [24]:
# https://www.kaggle.com/datasets/fedesoriano/heart-failure-prediction
filename = "/content/drive/MyDrive/Colab Notebooks/Project#2/heart.csv"
df = pd.read_csv(filename)
df.head()

display(df.duplicated().sum())
display(df.isna().sum().sum())

0

0

Second choice: dataset 2

1) Source of data : kaggle

2) Brief description of data : shows a range of incomes based on different features.

3) What is the target? : income

4) Is this a classification or regression problem? : Classification

5) How many features? 14

6) How many rows of data. 48842

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset? Very few numeric columns, requires a lot of transformation.

In [25]:
# https://www.kaggle.com/datasets/wenruliu/adult-income-dataset
filename2 = "/content/drive/MyDrive/Colab Notebooks/Project#2/adult.csv"
df2 = pd.read_csv(filename2)
display(df2.head())

display(df2.duplicated().sum())
display(df2.isna().sum().sum())

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

52

0